<!DOCTYPE html>
<html>
<head>
  <title>AgeFinder</title>
  <%= stylesheet_link_tag    "age_finder/application", :media => "all" %>
  <%= javascript_include_tag "age_finder/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
